<!DOCTYPE html>
<html lang="es">

    <%- include('../templaces/head') %>

    <body>
        
        <%- include('../templaces/header') %>

        <div class="container my-5">
            <div class="form-container">
                
                <h3>Registro de Alumno</h3><br>
                <% if (typeof mensaje !== "undefined") { %>
                    <div class="alert alert-danger"><%= mensaje %></div>
                <% } %>
                <form id="registroForm" action="/validar" method="post">
                <input type="hidden" name="formType" value="RegistroAlumno">
    
                    <div class="mb-3">
                        <label for="id_alumno" class="form-label">Matricula</label>
                        <input type="number" class="form-control" name="id_alumno" id="id_alumno" placeholder="Matricula" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Ingrese sus nombres" required>
                        </div>
                        <div class="col-md-6">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Ingrese sus apellidos" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="facultad_id" class="form-label">Facultad</label>
                        <select class="form-control" name="facultad_id" id="facultad_id" required>
                            <option value="" disabled selected>Seleccione la facultad</option>
                            <% facultad.forEach(registro=>{%>
                                <option value=" <%= registro.id_facultad %> "> <%= registro.nombre %> </option>
                            <%  }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="status_id" class="form-label">Status ID</label>
                        <select class="form-control" name="status_id" id="status_id" required>
                            <option value="" disabled selected>Seleccion de Status</option>
                            <% status.forEach(registro=>{%>
                                <option value=" <%= registro.id_status %> "> <%= registro.status %> </option>
                            <%  }) %>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="carrera_id" class="form-label">Carrera ID</label>
                        <select class="form-control" name="carrera_id" id="carrera_id" required>
                            <option value="" disabled selected>Seleccion de Carrera</option>
                            <% carreras.forEach(registro=>{%>
                                <option value=" <%= registro.id_carrera %> "> <%= registro.nombre_carrera %> </option>
                            <%  }) %>
                        </select>
                        
                    </div>
                    <div class="d-flex justify-content-center">
                        <button onclick="return confirma()" type="submit" class="btn btn-primary">Registrar</button>
                        <a href="/estudiantes" class="btn btn-secondary ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        
        <%- include('../templaces/footer') %>

        <script>
            function confirma() {
                const form = document.getElementById("registroForm");
                if (form.checkValidity()) {
                    Swal.fire("Registro exitoso!","", "success");
                } 
            }
        </script>

</body>
</html>
