<div class="cuerpo">
  <div class="sidebar d-flex flex-column p-3 bg-dark text-white" style="width: 250px;">
    <h4 class="text-white">Menú</h4>
    <ul class="nav flex-column list-unstyled">
      <!-- Menú Inicio -->
      <li class="nav-item">
        <a class="nav-link text-white <%= rutaActual === '/' ? 'active' : '' %> " href="/">
          <i class="bi bi-house-door"></i> Inicio
        </a>
      </li>

      <!-- Menú Registros -->
      <li class="nav-item">
        <a class="nav-link text-white <%= rutaActual === '/registros' ? 'active' : '' %> " href="/registros">
          <i class="bi bi-calendar-week"></i> Registros
        </a>
      </li>

      <!-- Menú Información Institucional -->
      <li class="nav-item">
        <a class="nav-link text-white dropdown-toggle" href="#" id="proyectosDropdown" role="button" data-bs-toggle="collapse" data-bs-target="#proyectosSubMenu" aria-expanded="false" aria-controls="proyectosSubMenu">
          <i class="bi bi-file-earmark-person"></i> Información <br> Institucional
        </a>
        <ul class="collapse list-unstyled ps-3" id="proyectosSubMenu" data-bs-parent=".sidebar">
          <li>
            <a class="nav-link text-white <%= rutaActual === '/estudiantes' ? 'active' : '' %> " href="/estudiantes">
              Alumno
            </a>
          </li>
          <li>
            <a class="nav-link text-white <%= rutaActual === '/profesores' ? 'active' : '' %> " href="/profesores">
              Profesor
            </a>
          </li>
          <li>
            <a class="nav-link text-white <%= rutaActual === '/carrera' ? 'active' : '' %> " href="/carrera">
              Carrera
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
